form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

input {
    margin-bottom: 2rem;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}